.HomeOptions {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(-100vw, 0, 0);
  }

.home-options-window {
    position: relative;
    width: 100%;
    background-color: var(--background-white);
}